<%
    const date_time = (date) => {
        let str = date.toISOString()
        return [str.slice(0,10),str.slice(11,19)]
    }
    function tweetCount(count){
        if (count / 1000000 >= 1 || count / 1000000 <= -1)
        return (count / 1000000).toFixed(2) + "M"

        if(count / 1000 >= 1 || count / 1000 <= -1)
        return (count / 1000).toFixed(1) + "K"

        return count
    }


%>
<div id="searches">
    <h3 class="mb-2"><i class="bi bi-clock-history"></i> History</h3>
    <div id="searched-history" class="container">
        <% if(locals.results && results.length > 0){ %>
            <div class="row justify-content-between align-items-center">
                <h6 class="row">You can save upto 10 search records to compare.</h6>
                <h6 class="row">Select up-to two entries of same username to compare.</h6>
            </div>
            <% for(let data of results) {%>
            <% const id = data._id.toString() %>
                <div class="container searched-entry-container border-top mt-1">
                    <div id="block-icons" class="row justify-content-end">
                        <div class="col-auto">
                            <button class="compare-btn btn btn-sm btn-primary col-auto d-none" name="compare">Compare</button>
                            <input data-id="<%=id %>" data-username="<%=data.username %>" class="form-check-input" name="select-compare" type="checkbox" title="Select to compare">
                            <i data-id="<%=id %>" data-username="<%=data.username %>" class="close-icon col-auto bi bi-x-square text-danger " title="Delete this search result."></i>
                        </div>
                    </div>
                    <div id="<%= id %>" data-id="<%=id %>" data-username="<%=data.username %>" class="searched-entry row mt-1">
                        <div id="user-profile" class="col-md-12 col-lg-6 border-end-lg">
                            <div id="name-username" class="row">
                                <div class="col-auto">
                                    <img id="user-profile-image" class="border rounded-3" src="<%= data.user_img %>" width="73" height="73" crossorigin="anonymous">
                                </div>
                                <div class="col flex-column align-items-center">
                                    <p id="name" class=" mt-2 mb-0"><i class="bi bi-person-fill"></i> <span><%= data.name %></span> </p>
                                    <p id="username" ><i class="bi bi-twitter"></i> <a class="tweet-profile-link" href="https://twitter.com/<%= data.username %>">@<%= data.username %></a> </p>
                                </div>
                            </div>
                            <p id="total-tweets" class="mb-1 mt-2">
                                <i class="bi bi-arrow-down-up"></i>
                                Total tweets:
                                <% let total_tweets_r = tweetCount(data.total_tweets) %>
                                <span id="total-tweets-data" class="text-primary data-hover data-clean" data-real="<%= data.total_tweets %>" data-round="<%= total_tweets_r %>"><%= total_tweets_r %></span><span id="total-tweets-data-compare" class="text-primary data-hover data-clean"></span>
                            </p>
                            <div class="row">
                                <p class="mt-0 col">
                                    <i class="bi bi-people-fill"></i>
                                    Followers:
                                    <% let followers = tweetCount(data.followers) %>
                                    <span id="followers" class="text-primary data-hover data-clean" data-real="<%= data.followers %>" data-round="<%= followers %>"><%= followers %></span><span id="followers-compare" class="text-primary data-hover data-clean"></span>
                                </p>
                                <p class="mt-0 col">
                                    <i class="bi bi-person-check-fill"></i>
                                    Followings:
                                    <% let followings = tweetCount(data.followings) %>
                                    <span id="followings" class="text-primary data-hover data-clean" data-real="<%= data.followings %>" data-round="<%= followings %>"><%= followings %></span><span id="followings-compare" class="text-primary data-hover data-clean"></span>
                                </p>
                            </div>
                        </div>
                        <div id="search-interval" class="col-md-12 col-lg-6">
                            <p id="search-date" class="h7 mb-0">
                                Search results of:
                                <i class="bi bi-calendar4-week"></i>
                                <span class="date text-primary mb-0">
                                    <% let date = date_time(data.date) %>
                                    <%= date[0] %>
                                </span>
                                <span class="time text-primary mb-0"><i class="bi bi-clock text-dark"></i>
                                    <%= date[1] %>
                                </span>
                            </p>
                            <p id="interval" class="h7 mb-0">
                                Interval:
                                <i class="bi bi-calendar4-week"></i>
                                <span id="interval-start-date" class="date text-primary mb-0">
                                    <% let start_date = date_time(data.start_date)
                                    %>
                                    <%= start_date[0] %>
                                </span>
                                <span id="interval-start-time" class="time text-primary mb-0"><i class="bi bi-clock text-dark"></i>
                                    <%= start_date[1] %>
                                </span>
                                <i class="bi bi-arrow-right"></i>
                                <i class="bi bi-calendar4-week"></i>
                                <span id="interval-end-date" class="date text-primary mb-0">
                                    <% let end_date = date_time(data.end_date)  %>
                                    <%= end_date[0] %>
                                </span>
                                <span id="interval-end-time"class="time text-primary mb-0"><i class="bi bi-clock text-dark"></i>
                                    <%= end_date[1] %>
                                </span>
                            </p>
                            <p id="sample" class="h7 mt-0">Sample size:
                                <span class="data text-primary">
                                    <%= data.total.count %>
                                </span>
                            </p>

                        </div>
                    </div>
                </div>
            <% } %>
        <% }else{%>
            <div class="row">
                <h5 class="h5">404 - Still didn't try any search? <a id="search" class="text-decoration-none dashboard-nav-hover" href="/dashboard/search">
                    Try it now! <i class="bi bi-search"></i></a></h4>
            </div>
        <% } %>
    </div>
</div>