<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main class="container mt-5 mb-5" id="dashboard">
        <noscript>Sorry, your browser does not support JavaScript!</noscript>
        <div class="row">
            <%- include('../partials/dashboard') %>
            <div class="col right rounded-bottom border p-3">
                <div id="errors" class="alert alert-danger d-none"></div>
                <%- include('../partials/searched_list.ejs') %>
            </div>
        </div>
        <div id="results-modal" class="modal fade d-none"  tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <%- include('../partials/results.ejs') %>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn model-close-button btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <%- include('../partials/footer') %>
</body>
<%- include('../partials/scripts') %>
</html>
