<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %> 
<body>
    <%- include('../partials/header') %> 
    <main class="container mt-5 mb-5" id="dashboard">
        <noscript>Sorry, your browser does not support JavaScript!</noscript>
        <div class="row">
            <%- include('../partials/dashboard.ejs') %>

            <div class="col right border p-3">
                <h3>History</h3>
                <div>
                    <form>
                        <label>Last searches</label>
                        <span></span>
                    </form>
                </div>
                
            </div>
        </div>
    </main>
    <%- include('../partials/footer') %> 
</body>
<%- include('../partials/scripts') %>
</html>
