<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main class="container mt-5 mb-5" id="dashboard">
        <noscript>Sorry, your browser does not support JavaScript!</noscript>
        <div class="row">
            <%- include('../partials/dashboard.ejs') %>

            <div class="col right border p-3">
                <h3>Profile</h3>
                <div>
                    <form class="form-controll">
                        <label>Username:</label>
                        <p>
                            <% if (locals.username) { %>
                            <%= username %>
                            <% } %>
                        </p>
                        <label>Email:</label>
                        <p>
                            <% if (locals.email) { %>
                            <%= email %>
                            <% } %>
                        </p>
                        <label>Change password</label>
                        <div class="form-floating mb-3 has-validation">
                            <input type="password" class="form-control form-control-sm" id="change-password" name="change_password" placeholder="Password" required>
                            <label for="change-password">Password</label>
                            <div class="valid-feedback">Looks good!</div>
                        </div>
                        <div class="form-floating mb-3 has-validation">
                            <input type="password" class="form-control form-control-sm" id="change-password-2" name="change_password_2" placeholder="Password" required>
                            <label for="change-password-2">Repeat Password</label>
                            <div class="valid-feedback">Looks good!</div>
                        </div>

                        <button class="btn btn-primary" type="submit">Change password</button>
                    </form>

                    <div class="row mt-2 justify-content-end">
                        <div class="col-auto ">
                            <span class="text-danger">Caution! </span><span>This action cannot be undone!</span>
                            <button class="btn btn-danger" type="button" >Delete Profile</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </main>
    <%- include('../partials/footer') %>
</body>
<%- include('../partials/scripts') %>
</html>






<script>
    $(document).ready(()=>{

    })
</script>