<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main class="container mt-5 mb-5" id="dashboard">
        <noscript>Sorry, your browser does not support JavaScript!</noscript>

        <div class="row align-items-center justify-content-center">
            <div class="col-sm-12 col-md-8 m-0 p-0">
                <%- include('../partials/dashboard') %>
            </div>
            <div class="col-sm-12 col-md-8 pt-3 pb-3 rounded-bottom border">
                <div class="row justify-content-center">
                    <form id="change-psw-form" class="col-12 form-controll needs-validation" action="/dashboard/profile" method="PUT" novalidate>
                        <% if(locals.username){%>
                            <h3 class="text-center"><i class="bi bi-person-lines-fill"></i> Profile</h3>
                            <div class="row">
                                <% if(locals.email_hash){%>
                                    <img class="col-auto rounded" src="https://www.gravatar.com/avatar/<%= email_hash %>?s=64&r=g" width="64" height="64" alt="profile_img" crossorigin="anonymous">
                                    <div class="col">
                                        <label class="m-1">Username:</label>
                                        <span>
                                            <% if (locals.username) { %>
                                            <%= username %>
                                            <% } %>
                                        </span>
                                        <br>
                                        <label class="m-1">Email:</label>
                                        <span>
                                            <% if (locals.email) { %>
                                            <%= email %>
                                            <% } %>
                                        </span>
                                    </div>
                                <% } %>
                            </div>
                        <%}%>
                        <br>
                        <label>Change password</label>
                        <div class="form-floating mb-3 has-validation">
                            <input type="password" name="password" class="form-control form-control-sm" autocomplete="current-password" id="password"  placeholder="Old Password" required>
                            <label for="password">Old Password</label>
                            <div class="invalid-feedback">Can't be empty.</div>
                        </div>
                        <div class="form-floating mb-3 has-validation">
                            <input type="password" name="new_password" autocomplete="new-password" class="form-control form-control-sm password" minlength="8" id="new-password"  placeholder="New Password" required>
                            <label for="new_password">New Password</label>
                            <div class="invalid-feedback">Must have at least 8 characters.</div>
                        </div>
                        <div class="form-floating mb-3 has-validation">
                            <input type="password" name="new_password_confirm" class="form-control form-control-sm password-confirm" id="new_password_confirm" placeholder="Repeate Password" required>
                            <label for="new_password_confirm">Repeat Password</label>
                            <div class="invalid-feedback">Must match to new password</div>
                        </div>
                        <div class="row justify-content-center align-items-center">
                            <div class="col g-recaptcha" data-callback="enableBtns" data-expired-callback="disableBtns" data-sitekey="6LelT0olAAAAAENj2D8op4_dpePjY1iMyl5Luo4b"></div>
                        </div>
                        <button id="change-submit" disabled class="disable-btn mt-2 btn btn-primary form-submit" data-form="change-psw-form" type="submit">Change password</button>
                    </form>
                    <div class="col-8" >
                        <div class="col-12 justify-content-center">
                            <svg class="col d-inline " viewBox="0 0 300 1" xmlns="http://www.w3.org/2000/svg">
                                <line x1="0" y1="0" x2="300" y2="0" stroke="#aaaaaa" />
                            </svg>
                            <p class="text-center"><span class="text-danger">Caution! </span>This action cannot be undone!</p>
                        </div>
                        <div class="d-flex col-12 justify-content-center">
                            <button id="profile-delete-btn" class="show-modal-btn btn btn-danger" data-modal="profile-delete-modal" type="button" >Delete Profile</button>
                        </div>
                    </div>
                    <!-- DELETE Profile Modal -->
                    <div id="profile-delete-modal" class="modal" tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Please confirm</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form id="profile-delete-form" class="form-controll needs-validation" action="" method="DELETE">
                                <label>Confirm with your password</label>
                                <div class="form-floating mb-3 has-validation">
                                    <input id="profile-delete-password" name="password" autocomplete="current-password" type="password" class="form-control form-control-sm" placeholder="Password" required>
                                    <label for="profile-delete-password">Insert Password</label>
                                    <div class="invalid-feedback">Can't be empty.</div>
                                </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button id="profile-delete-submit" class="btn btn-danger form-submit" data-form="profile-delete-form" type="submit" data-bs-dismiss="modal">Confirm</button>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </main>
    <%- include('../partials/footer') %>
</body>
<%- include('../partials/scripts') %>
</html>
