<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<!--header-->
<%- include('../partials/head') %>

<body>
    <!--navigation-->
    <%- include('../partials/header') %>

    <main class="container mt-5 mb-5" id="dashboard">
        <noscript>Sorry, your browser does not support JavaScript!</noscript>
        <div class="row mt-5 mb-5 container align-items-center justify-content-center">
            <div class="col-sm-12 col-md-8 pt-3 pb-3 rounded border">
                <form id="reset-psw-form" class="container-sm p-3 needs-validation" action="/reset-password" method="PUT" novalidate>
                    <h4 class="text-star">Enter a new password</h4>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="floatingInput" name="email"
                        value="
                            <%if(locals.email) {%>
                            <%= email %>
                            <% } %>" readonly required>
                        <label for="floatingInput">Email address</label>

                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" name="password" id="floatingPassword" placeholder="Password" required>
                        <label for="password">Password</label>
                    </div>
                    <div class="form-floating mb-3 has-validation">
                        <input type="password" class="form-control" name="password_confirm" id="floatingPassword" placeholder="Password" required>
                        <label for="password_confirm">Repeat Password</label>
                    </div>
                    <div class="row justify-content-center align-items-center">
                        <div class="col g-recaptcha" data-callback="enableBtns" data-expired-callback="disableBtns" data-sitekey="6LelT0olAAAAAENj2D8op4_dpePjY1iMyl5Luo4b"></div>
                    </div>
                    <button id="reset" disabled class="disable-btn form-submit btn btn-outline-primary mt-2" data-form="reset-psw-form" type="submit">Reset Password</button>
                </form>
            </div>
        </div>
    </main>
    <!--footer-->
    <%- include('../partials/footer') %>
</body>
<%- include('../partials/scripts') %>
</html>