<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %> 
<body>
    <%- include('../partials/header') %> 
    <main class="container mt-5 mb-5" id="dashboard">
        <noscript>Sorry, your browser does not support JavaScript!</noscript>
        
        <div class="row container">
            <%- include('../partials/dashboard.ejs') %>

            <div class="col right border p-3">
                <h3>New Search</h3>
                <form id="form-search" class="form-controll needs-validation d-inline" action="/twitter" method="POST">
                    <div class="input-group">
                        <input type="text" class="form-control" id="handler" name="handler" placeholder="@handler" required>                        
                        <button id="search-btn" class="btn btn-outline-primary " type="submit"><i class="bi bi-search"></i></button>                        
                    </div>
                    <div class="invalid-feedback">Please choose a valid twitter handler.</div>                    
                </form>
                <div id="loader"class="d-none">
                    <img src="../assets/loader.gif" />
                </div>
               <div id="results" class="contianer">
                <div id="account-info" class="row">
                    <div id="user-info" class="col">
                        <div id="user-profile">
                            <div id="name-username">
                                <p id="name"></p>
                                <p id="username"></p>
                            </div>
                        </div>
                        <p id="total-tweets" class="data-hover">Total tweets: <span id="total-tweets-data"></span></p>
                        
                    </div>
                    <div class="col">
                        <p id="followers" class="data-hover">Followers: <span id="followers-data"></span></p>
                        <p id="followings" class="data-hover">Followings: <span id="followings-data"></span></p>
                    </div>
                    <div id="search-interval" class="col">
                        <p id="search-date">
                            Search results of: 
                            <span class="date"></span>
                            <span class="time"></span>
                        </p>
                        <p id="interval-start-date">
                            Interval start: 
                            <span class="date"></span>
                            <span class="time"></span>
                        </p>
                        <p id="interval-end-date">
                            Interval end:
                            <span class="date"></span>
                            <span class="time"></span>
                        </p>
                        <p id="sample">Sample size: <span class="data"></span></p>
                    </div>
                </div>
                <div id="pie-charts" class="row">
                    <div id="tweets-by-type" class="col"></div>
                    <div id="tweets-by-type-data" class="col">
                        <ul id="tweets-by-type-data-list"></ul>
                    </div>
                    <div id="metrics" class="col">
                        <p id="retweeted">
                            Retweets
                            <span id="count"></span>
                            Interval:
                            <span id="interval"></span>
                        </p>
                        <p id="replied_to">
                            Replies: 
                            <span id="count"></span>
                            Interval:
                            <span id="interval"></span>
                            <ul id="average"></ul>
                        </p>
                        <p id="quoted">
                            Quotes:
                            <span id="count"></span>
                            Interval:
                            <span id="interval"></span>
                            <ul id="average"></ul>
                        </p>
                        <p id="original">
                            Original:
                            <span id="count"></span>
                            Interval:
                            <span id="interval"></span>
                            <ul id="average"></ul>
                        </p>
                        
                    </div>                    
                </div>
                <div id="highlights" class="d-flex flex-row">                    
                    <div class="col">
                        <p id="most-retweet_count">
                            most retweets:
                            <a href="" target="_blank"></a>
                        </p>
                    </div>
                    <div class="col">
                        <p id="most-reply_count">
                            most replies:
                            <a href="" target="_blank"></a>
                        </p>
                    </div>
                    <div class="col">
                        <p id="most-like_count">
                            most likes:
                            <a href="" target="_blank"></a>
                        </p>                        
                    </div>
                    <div class="col">
                        <p id="most-quote_count">
                            most quotes:
                            <a href="" target="_blank"></a>
                        </p>
                    </div>
                    <div class="col">
                        <p id="most-impression_count">
                            most impressions:
                            <a href="" target="_blank"></a>
                        </p>
                    </div>
                </div>
                <div id="metric-charts">
                        
                </div>
               </div> 
            </div>
        </div>
    </main>
    <%- include('../partials/footer') %> 
</body>
<%- include('../partials/scripts') %>
</html>
