<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>

    <main class="container mb-5" id="dashboard" style="min-width: 500px;">
        <noscript>Sorry, your browser does not support JavaScript!</noscript>

        <div class="row mt-5 mb-5 container">
            <%- include('../partials/dashboard') %>
            <div class="col right border p-3 ">
                <h3><i class="bi bi-twitter"></i> New Search</h3>
                <form id="form-search" class="form-controll needs-validation d-inline" action="/twitter" method="POST">

                    <div class="row align-items-center">
                        <div class="col">
                            <div class="input-group">
                                <input type="text" class="form-control" id="handler" name="handler" placeholder="@handler" required>
                                <button id="search-btn" class="btn btn-primary " type="submit"><i class="bi bi-search"></i></button>
                                <div class="invalid-feedback">Please choose a valid twitter handler.</div>

                            </div>
                        </div>
                        <div class="col-auto justify-content-center align-items-center">
                            <div class="col g-recaptcha" data-sitekey="6LelT0olAAAAAENj2D8op4_dpePjY1iMyl5Luo4b"></div>
                        </div>

                    </div>
                </form>
                <div id="loader"class="d-none">
                    <img id="loader-gif" class="d-none" width="64" height="64" src="../assets/loader.gif" />
                    <img id="working-gif" class="d-none" width="44" height="64" src="../assets/working.gif" />
                </div>
                <%- include('../partials/results.ejs') %>
            </div>
        </div>
    </main>
    <%- include('../partials/footer') %>
</body>
<%- include('../partials/scripts') %>
</html>
