<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body class="container-fluid wrapper">
    <%- include('../partials/header') %>
    <main class="container mb-5" id="dashboard">
        <noscript>Sorry, your browser does not support JavaScript!</noscript>

        <div class="row mt-5 mb-5 container justify-content-center">
            <div class="col right border p-3 ">
                <h3>New Search <i class="bi bi-twitter"></i></h3>
                <form id="form-search" class="form-controll needs-validation d-inline" action="/twitter" method="POST">
                    <div class="input-group">
                        <input type="text" class="form-control" id="handler" name="handler" placeholder="@handler" required>
                        <button id="search-btn" class="btn btn-outline-primary " type="submit"><i class="bi bi-search"></i></button>
                    </div>
                    <div class="invalid-feedback">Please choose a valid twitter handler.</div>
                </form>
                <div id="loader"class="d-none">
                    <img id="loader-gif" class="d-none" width="64" height="64" src="../assets/loader.gif" />
                    <img id="working-gif" class="d-none" width="44" height="64" src="../assets/working.gif" />
                </div>
                <%- include('../partials/results.ejs') %>
            </div>
        </div>
    </main>
    <%- include('../partials/footer') %>
</body>
<%- include('../partials/scripts') %>
</html>
