<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %> 
<body>
    <%- include('../partials/header') %> 
    <main class="container mt-5 mb-5" id="dashboard">
        <noscript>Sorry, your browser does not support JavaScript!</noscript>
        
        <div class="row">
            <%- include('../partials/dashboard.ejs') %>

            <div class="col right border p-3">
                <h3>New Search</h3>
                <form id="form-search" class="form-controll needs-validation d-inline" action="/twitter" method="POST">
                    <div class="input-group">
                        <input type="text" class="form-control" id="handler" name="handler" placeholder="@handler" required>                        
                        <button id="search-btn" class="btn btn-outline-primary " type="submit"><i class="bi bi-search"></i></button>                        
                    </div>
                    <div class="invalid-feedback">Please choose a valid twitter handler.</div>                    
                </form>
                <div id="loader">
                    <img src="../assets/loader.gif" />
                </div>
               <div id="results">

               </div> 
            </div>
        </div>
    </main>
    <%- include('../partials/footer') %> 
</body>
<%- include('../partials/scripts') %>
</html>
