<!DOCTYPE html>
<html lang="en">
<!--header-->
<%- include('../partials/head') %>

<body class="container-fluid blue">
    <!--navigation-->
    <%- include('../partials/header') %>

    <main class="container mt-5 mb-5" id="dashboard">
        <noscript>Sorry, your browser does not support JavaScript!</noscript>

        <div class="row container justify-content-center">
            <%- include('../partials/dashboard.ejs') %>

            <div class="col right border p-3 ">
                <div id="loader"class="d-none">
                    <img id="loader-gif" class="d-none" width="64" height="64" src="../assets/loader.gif" />
                    <img id="working-gif" class="d-none" width="44" height="64" src="../assets/working.gif" />
                </div>
                <%- include('../partials/results.ejs') %>
            </div>
        </div>
    </main>
    <!--footer-->
    <%- include('../partials/footer') %>
</body>
<%- include('../partials/scripts') %>
</html>